@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

:root {
  --primary-color: #fdfbf4;
  --secondary-color: #061f15;
  --white: #fff;
  --black: #000;
  /* FONT SIZE */
  --section-head-font-size: 3.75rem;
  --text-font-size: 1rem;
  /* SECTION SPACE */
  --section-space-y: 100px;
  --section-space-x: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 768px) {
  :root {
    --text-font-size: 1rem;
    --section-head-font-size: 2rem;
    /* SECTION SPACE */
    --section-space-y: 100px;
    --section-space-x: 1.5rem;
  }
}

@media (max-width: 425px) {
  :root {
    --section-head-font-size: 8vw;
  }
}

/* ========= */
/* = SLIDER = */
/* ========= */

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  position: relative;
  flex: 0 0 100%;
}

.box {
  width: 100%;
  height: 50vw;
  position: relative;
}
